# Assignment 1
### Understanding Uncertainty
### Due 9/5

### Marissa Burton

1. Create a new public repo on Github under your account. Include a readme file.
2. Clone it to your machine. Put this file into that repo.
3. Use the following function to download the example data for the course:

In [1]:
def download_data(force=False):
    """Download and extract course data from Zenodo."""
    import urllib.request, zipfile, os
    
    zip_path = 'data.zip'
    data_dir = 'data'
    
    if not os.path.exists(zip_path) or force:
        print("Downloading course data")
        urllib.request.urlretrieve(
            'https://zenodo.org/records/16954427/files/data.zip?download=1',
            zip_path
        )
        print("Download complete")
    else:
        print("Download file already exists")
        
    if not os.path.exists(data_dir) or force:
        print("Extracting data files...")
        with zipfile.ZipFile(zip_path, 'r') as zip_ref:
            zip_ref.extractall(data_dir)
        print("Data extracted")
    else:
        print("Data directory already exists")

download_data()

Download file already exists
Data directory already exists

4. Open one of the datasets using Pandas:
    1. `ames_prices.csv`: Housing characteristics and prices
    2. `college_completion.csv`: Public, nonprofit, and for-profit educational institutions, graduation rates, and financial aid
    3. `ForeignGifts_edu.csv`: Monetary and in-kind transfers from foreign entities to U.S. educational institutions
    4. `iowa.csv`: Liquor sales in Iowa, at the transaction level
    5. `metabric.csv`: Cancer patient and outcome data
    6. `mn_police_use_of_force.csv`: Records of physical altercations between Minnessota police and private citizens
    7. `nhanes_data_17_18.csv`: National Health and Nutrition Examination Survey
    8. `tuna.csv`: Yellowfin Tuna Genome (I don't recommend this one; it's just a sequence of G, C, A, T )
    9. `va_procurement.csv`: Public spending by the state of Virginia

In [3]:
import pandas as pd

college_comp = pd.read_csv('data/college_completion.csv')
college_comp.head()

,index,unitid,chronname,city,state,level,control,basic,hbcu,flagship,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

5. Pick two or three variables and briefly analyze them
    - Is it a categorical or numeric variable?
    - How many missing values are there? (`df['var'].isna()` and `np.sum()`)
    - If categorical, tabulate the values (`df['var'].value_counts()`) and if numeric, get a summary (`df['var'].describe()`)

### state:

In [14]:
# Variable Type
print(college_comp["state"].dtype)

# Missing values
import numpy as np
college_comp["state"].isna().sum()

# Tabulating values
college_comp['state'].value_counts()

object

state
California              350
New York                241
Pennsylvania            217
Texas                   207
Ohio                    185
Florida                 176
Illinois                141
North Carolina          135
Georgia                 106
Virginia                104
Missouri                103
Minnesota               101
Massachusetts           100
Tennessee                94
Michigan                 94
Washington               73
Wisconsin                71
Colorado                 70
Alabama                  69
Indiana                  67
Kentucky                 67
South Carolina           66
Arizona                  63
Kansas                   62
Iowa                     61
Louisiana                56
Oklahoma                 56
New Jersey               55
Maryland                 52
Oregon                   50
Arkansas                 48
New Mexico               40
West Virginia            39
Nebraska                 36
Mississippi              36
Connecticut              35
Utah                     30
Maine                    29
New Hampshire            24
South Dakota             23
Montana                  22
Vermont                  20
North Dakota             20
Nevada                   20
Hawaii                   18
Idaho                    16
District of Columbia     12
Delaware                 11
Rhode Island             11
Wyoming                   9
Alaska                    7
Name: count, dtype: int64

- Categorical variable.
- There are 0 missing values.
- The tabulation shows that California has the most colleges in the U.S., followed by New York and Pennsylvania.

### city:

In [17]:
# Variable Type
print(college_comp["city"].dtype)

# Missing Values
college_comp["city"].isna().sum()

# Tabulating values
college_comp['city'].value_counts()

object

city
Chicago                40
New York               38
Brooklyn               28
Philadelphia           25
Atlanta                24
                       ..
Eagan                   1
North Mankato           1
Inver Grove Heights     1
Hibbing                 1
Edina                   1
Name: count, Length: 1787, dtype: int64

- Categorical variable.
- There are 0 missing values.
- Tabulating the data shows that Chicago is the city with the most colleges in the U.S., followed by New York City and Brooklyn.

6. What are some questions and prediction tools you could create using these data? Who would the stakeholder be for that prediction tool? What practical or ethical questions would it create? What other data would you want, that are not available in your data?

Some questions I can answer using this dataset are:
- What state in the U.S. has the most public colleges? What about private?
- Does a college's endowment affect the amount of financial aid disbursed to students?
- Is graduation rate dependent on where the college is located, in terms of city and state?

Here are some prediction tools we can create with this data:
- We can predict...
    - the amount of students recieving financial aid for each institution using this past data
        - Stakeholder: prospective students, private student loan organizations
        - Ethicial implications: If this data is available for students to view, could they risk not being able to afford an institution that a student of their socio-economic status a year prior could afford?
        - Practical implications: If the college's financial aid budget is significantly decreased from one year to the next, should the college be held to this expectation of offering financial aid to the same amount of students?
        - Other data to consider: number of donors to each institution's financial aid fund, and how much each of those donors has historically given
    - how many students will graduate in each city and state the following school year
        - Stakeholder: Employers looking to hire graduates in specific locations
        - Practical implications: Are these students graduating in specific locations top applicants for jobs in the area? Are they the best recently-graduated students a company can hire?
        - Other data to consider: Students' majors and prior work experience
    - the expected endowments for public, non-profit, and for profit schools
        - Stakeholder: Private donors, federal donors
        - Ethical implications: Should

7. Commit your work to the repo (`git commit -am 'Finish assignment'` at the command line, or use the Git panel in VS Code). Push your work back to Github and submit the link on Canvas in the assignment tab.